.bars {
    background-color: $color-two;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;
    section {
        margin-bottom: 15px;
    }
    .photobars {
        max-width: 375px;
        margin: 0 auto 15px;
        img {
            border-radius: 10px;
        }        
    }
    .pricelist {
        background-color: $color-three;
        margin: 40px auto 20px;
        padding: 10px;
        color: white;
        font-size: 20px;       
        border-radius: 10px;        
        list-style-type: none;
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;
            .pricetag {
                display: grid;
                grid-template-columns: 15px 55px;
                .itemprice {
                    text-align: right;
                }
            }
        }
    }
    @media(min-width: 600px) {
        max-width: 600px;
        margin: 0 auto;
        .pricelist {
            width: 430px;            
        }
    }
    @media(min-width: 900px) {
        padding: 40px;
        max-width: 1400px;
        display: grid;
        grid-template: auto auto auto auto auto auto auto / 1fr 1fr 1fr;
        grid-template-areas:
        "A A A"
        "B B B"
        "E E E"
        "C D G"
        "F F F"
        "H H H"
        "I I I";
        gap: 10px;        
        h1 {
            grid-area: A;
        }
        section:nth-child(2) {
            grid-area: B;
        }
        .photobars:nth-child(3) {
            grid-area: C;
        }
        .photobars:nth-child(5) {
            grid-area: D;
        }
        section:nth-child(4) {
            grid-area: E;
        }
        section:nth-child(6) {
            grid-area: F;
        }
        section:nth-child(8) {
            grid-area: H;
        }
        .photobars:nth-child(7) {
            grid-area: G;
        }
        .pricelist {
            grid-area: I;
            width: 450px;
        }
    }    
}
