@import "./colors";

body {
    margin: 0;
    background-color: $color-one;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

header {
    padding: 0;
    background-color: $color-four;
    @media(min-width: 1060px) {
        display: grid;
        grid-template: auto / 600px auto;
        padding: 0 10px;
    }
    .logo {
        background-color: white;
        margin: 0 auto;
    }
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0;
    
    a {
        color: white;
    }
    .menu {
        text-align: center;
        padding: 10px 5px;
        font-size: 17px;
        @media(min-width: 600px) {
            font-size: 23px;
        }    
        @media(min-width: 1060px) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0;
            padding: 0;
            padding-bottom: 22px;
        }    
    }    
    .menu:hover {
        background-color: $color-three;
    }
    .active {
        font-size: 18px;
        a {
            color: $color-one;
        }
        @media(min-width: 600px) {
            font-size: 24px;
            letter-spacing: 1px;
        }
    }
}

main {
    margin: 0;
    @media(min-width: 600px) {
        margin: 60px auto;
        width: 80vw;
    }
}

.info {
    background-color: $color-two;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;
    @media(min-width: 600px) {
        max-width: 600px;
        margin: 0 auto;
    }
    @media(min-width: 1060px) {
        padding: 40px;
        max-width: 1400px;
        display: grid;
        grid-template: auto auto auto auto / auto 1fr;
        grid-template-areas:
        "H P"
        "F P"
        "S P"
        "T T";
        h1 {
            grid-area: H;
        }
        section:nth-child(2) {
            grid-area: F;
            margin-right: 40px;
            margin-bottom: 10px;
        }
        section:nth-child(4) {
            grid-area: S;
            margin-right: 40px;
            margin-bottom: 10px;
        }
        section:nth-child(5) {
            grid-area: T;
        }
        .photo {
            grid-area: P;
            width: 250px;
            margin: auto 0 10px;
        }
    }    
    section {
        margin-bottom: 15px;
    }
    .photo {
        margin-bottom: 15px;
    }
}